<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muzaffar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{#if success_messages }}
      <div class="alert alert-success">{{success_messages}}</div>
    {{/if}}
    {{#if error_messages }}
      <div class="alert alert-danger">{{error_messages}}</div>
    {{/if}}
    <section id="section-1" class="section-1">
        <div class="container space-b pt-1">
            <div class="logo"><a href="/">Muzaffar Shoshiy</a></div>
            <div class="header-contacts space-b">
                <div class="location space-b"><a href=""><i class="fa-solid fa-location-dot"></i></a><p><a href="">Khushnavo str.,<br>Tashkent, Uzbekistan</a></p></div>
                <div class="mobile space-b"><a href=""><i class="fa-solid fa-phone"></i></a><p><a href="tel:+998935689677">+998 93 568 96 77</a> <br><a href="tel:+998935779677">+998 93 577 96 77</a></p></div>
                <div class="mass-media"><a href="https://web.telegram.org/z/#791213192"><i class="fa-brands fa-telegram"></i></a><a href="https://www.instagram.com/muzaffar_shoshiy/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <i class="fa-solid fa-magnifying-glass"></i></div>
            </div>
        </div>
        <div class="container">
            <nav class="nav space-b">

                <ul class="sub-menu-hidden">
                    <li class="sub-menu-item"><i class="fa-solid fa-bars"></i>

                        <div class="sub-menu">
                            <div class="indicator"><div class="indicator-arrow"></div></div>
                            <ul class="sub-menu-list">
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Automatization factory</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Website development</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">AI</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Teaching</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Redeveloping</a></li>
                            </ul>
                        </div>

                    </li>
                </ul>

                <ul class="list space-b">
                    <li class="list-item"><a class="list-item-anchor" href="">services</a><span class="list-item-span"></span>
                    
                        <div class="sub-menu">
                            <div class="indicator"><div class="indicator-arrow"></div></div>
                            <ul class="sub-menu-list">
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Automatization factory</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Website development</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">AI</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Teaching</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Redeveloping</a></li>
                            </ul>
                        </div>
                    
                    </li>
                    <li class="list-item"><a class="list-item-anchor" href="">gallery</a><span class="list-item-span"></span>
                    
                        <div class="sub-menu">
                            <div class="indicator"><div class="indicator-arrow"></div></div>
                            <ul class="sub-menu-list">
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Automatization factory</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Website development</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">AI</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Teaching</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Redeveloping</a></li>
                            </ul>
                        </div>

                    </li>
                    <li class="list-item"><a class="list-item-anchor" href="">video</a><span class="list-item-span"></span>
                    
                        <div class="sub-menu">
                            <div class="indicator"><div class="indicator-arrow"></div></div>
                            <ul class="sub-menu-list">
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Automatization factory</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Website development</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">AI</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Teaching</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Redeveloping</a></li>
                            </ul>
                        </div>

                    </li>
                    <li class="list-item"><a class="list-item-anchor" href="">FAQ</a><span class="list-item-span"></span></li>
                    <li class="list-item"><a class="list-item-anchor" href="">about</a><span class="list-item-span"></span>
                    
                        <div class="sub-menu">
                            <div class="indicator"><div class="indicator-arrow"></div></div>
                            <ul class="sub-menu-list">
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">certificates</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">potfolio</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">knowledgments</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">schooling</a></li>
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">resume</a></li>
                            </ul>
                        </div>
                        
                    </li>
                    <li class="list-item"><a class="list-item-anchor" href="">contact</a><span class="list-item-span"></span></li>
                    <li class="list-item"><a class="list-item-anchor" href="">references</a><span class="list-item-span"></span>
                        <div class="sub-menu">
                            <div class="indicator"><div class="indicator-arrow"></div></div>
                            <ul class="sub-menu-list">
                                <li class="sub-menu-list-items"><a class="sub-menu-list-items-anchor" href="">Uzbekneftegas company</a></li>
                            </ul>
                        </div>
                    </li>
                    {{#if isAuthenticated}}
                    <li class="list-item"><a class="list-item-anchor" href="/users/profile">Profile</a><span class="list-item-span"></span></li>
                    <li class="list-item"><a class="list-item-anchor" href="/users/dashboard">Dashboard</a><span class="list-item-span"></span></li>
                    <li class="list-item"><a class="list-item-anchor" href="/users/logout">Log out</a><span class="list-item-span"></span></li>
                    {{else}}
                    <li class="list-item"><a class="list-item-anchor" href="/users/register">Sign up</a><span class="list-item-span"></span></li>
                    <li class="list-item"><a class="list-item-anchor" href="/users/login">Log in</a><span class="list-item-span"></span></li>
                    {{/if}}
                </ul>
                <div class="polylang">
                    
                </div>
            </nav>
        </div>
    
        <div class="container space-c mt-6 pt-2">
            <h1>the best services for your business</h1>
        </div>
        <div class="container space-c mt-1">
            <h3>i am Web Developer, Data scientist, Cybersecurist offering my certified and qualitative services</h3>
        </div>  
        <div class="container space-c">
            <a class="catalogue-btn mt-2" href="">Catalogue</a>
        </div>      
    </section>

    <section id="section-2" class="section-2">
        <div class="container">
            <div class="block space-b">
                <div class="card">
                    <img class="card-img" src="https://futureskillsprime.in/sites/default/files/inline-images/iStock-966248982.jpg" alt="">
                    <p class="card-article mt-1">Artificial Intelligence</p>
                    <p class="card-topic mt-1">I created dozens of robotics an they are used in varius companies. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, magni aperiam.</p>
                    <div class="space-c mt-2"><a href="" class=" more">more <i class="fa-solid fa-angles-right"></i></a></div>
                </div>
                <div class="card">
                    <img class="card-img" src="https://futureskillsprime.in/sites/default/files/inline-images/iStock-966248982.jpg" alt="">
                    <p class="card-article mt-1">Artificial Intelligence</p>
                    <p class="card-topic mt-1">I created dozens of robotics an they are used in varius companies. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, magni aperiam.</p>
                    <div class="space-c mt-2"><a href="" class=" more">more <i class="fa-solid fa-angles-right"></i></a></div>
                </div>
                <div class="card">
                    <img class="card-img" src="https://futureskillsprime.in/sites/default/files/inline-images/iStock-966248982.jpg " alt="">
                    <p class="card-article mt-1">Cybersecurity</p>
                    <p class="card-topic mt-1">I created dozens of robotics an they are used in varius companies. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, magni aperiam.</p>
                    <div class="space-c mt-2"><a href="" class="more">more <i class="fa-solid fa-angles-right"></i></a></div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-3" class="section-3">
        <div class="container space-c">
            <h1 class="mt-3 heading-1">My privilege <span class="bottom-border"></span></h1>
        </div>
    </section>

    <section id="section-4" class="section-4">

    </section>
    
    <section id="map-section" class="map-section">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d572.824958329245!2d69.29042167648069!3d41.360544056129264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1654401439976!5m2!1sen!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <section id="footer-section" class="footer-section">
        <div class="footer-block container space-b-align-start">
            <div class="footer-card mt-4">
                <div class="logo-footer"><a href="">Muzaffar Shoshiy</a></div>
                <p class="footer-desc mt-2">Pool equipment, chemicals and accessories for the pool, the construction of a "turn-key" pool, pool maintenance.</p>
                <a href="" class="space-start"> <p class="footer-location"><i class="fa-solid fa-location-dot"></i> Khushnavo str.,<br>Tashkent, Uzbekistan</p></a>
                <a href="" class="space-start"> <p class="footer-location"><i class="fa-solid fa-phone"></i> +998 93 568 96 77</p></a>
                <a href="" class="space-start"> <p class="footer-location"><i class="fa-solid fa-envelope"></i> muzaffart2022@gmail.com</p></a>
                <div class="space-start mt-2">
                    <a href=""><i id="footer-icons" class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i id="footer-icons" class="fa-brands fa-instagram"></i></a>
                    <a href=""><i id="footer-icons" class="fa-brands fa-telegram"></i></a>
                </div>
            </div>
            <div class="footer-card mt-4">
                <p class="footer-topic">recent news <span></span></p>
                <p class="news-decs">Uzbekneftegas company</p>
                <p class="news">
                    <i class="fa-regular fa-clock"></i> 29.04.2022 
                </p>
                <p class="news-decs">Neko learning center</p>
                <p class="news">
                    <i class="fa-regular fa-clock"></i> 04.06.2022 
                </p>
                <p class="news-decs">Sales doctor</p>
                <p class="news">
                    <i class="fa-regular fa-clock"></i> 17.07.2022 
                </p>
            </div>
            <div class="footer-card mt-4">
                <p class="footer-topic">extra links <span></span></p>
                <ul class="footer-list">
                    <li class="footer-list-item"><a class="footer-list-item-anchor" href="">Schooling</a></li>
                    <li class="footer-list-item"><a class="footer-list-item-anchor" href="">knowledgments</a></li>
                    <li class="footer-list-item"><a class="footer-list-item-anchor" href="">Certificates</a></li>
                    <li class="footer-list-item"><a class="footer-list-item-anchor" href="">Uzbekneftegas</a></li>
                    <li class="footer-list-item"><a class="footer-list-item-anchor" href="">Portfolio</a></li>
                    <li class="footer-list-item"><a class="footer-list-item-anchor" href="">Rezume</a></li>
                    <li class="footer-list-item"><a class="footer-list-item-anchor" href="">Gallery</a></li>
                    <li class="footer-list-item"><a class="footer-list-item-anchor" href="">Services</a></li>
                    <li class="footer-list-item"><a class="footer-list-item-anchor" href="">Free Consulting</a></li>
                    <li class="footer-list-item"><a class="footer-list-item-anchor" href="">Contacts</a></li>
                </ul>
            </div>
            <div class="footer-card mt-4">
                <p class="footer-topic">send message <span></span></p>
                <form class="form mt-3">
                    <input type="text" name="" id="name" placeholder="Name"  class="input">
                    <input type="text" name="" id="email" placeholder="Phone"  class="input">
                    <textarea type="text" name="" id="message" cols="30" rows="10"  class="input" placeholder="Message"></textarea>
                    <button id="btn" class="btn mt-1" type="submit" value="Yuborish">send</button>
                </form>
            </div>
        </div>
        <footer class="footer">
            <div class="container space-c">&#169 2022 - Muzaffar Shoshiy</div>
        </footer>
    </section>
    <script src="javascript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        //  $('.alert').alert()
        //     $('.alert').hide();
    
        //     $('.alert').on('close.bs.alert', function (event) {
        //         event.preventDefault();
        //         $(this).hide();
        //     });
    
            $('form').submit(function(e){
                e.preventDefault();
                let admins = [791213192];
    
                let name = $("#name").val();
                let email = $("#email").val();
                let message = $("#message").val();
    
    
                let text =  `\n🙎 ${name}  \n\n☎️ ${email}  \n\n 💬 ${message}`;
                for(let i = 0; i < admins.length; i++){
                    $.ajax({
                        url:'https://api.telegram.org/bot5686764701:AAFlqYTn0wPU75jF1rcQf3bCh9mc_kvzoDA/sendMessage',
                        method:'GET',
                        data: {
                            chat_id: admins[i],
                            text: text
                        },
                        success:function(){
                            alert("Ваше сообщение успешно отправлено!");
                        },
                        error:function(){
                            alert("К сожалению, ваше сообщение не может быть отправлено, сбой сети!");
                        }
                    });
                }
                $('form')[0].reset();
            });
    </script>
</body>
</html>